<a href="https://colab.research.google.com/github/Carlosmagnobrusil/CarlosBrusil_projects/blob/main/Semana_3/estatura_promedio.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Estatura media de los atletas**
## *Creado por: Carlos Brusil*



*   Fecha de Creaci칩n: 17 de enero de 2022 
*   Fechad de actualizaci칩n: 17 de enero de 2022
*   Descripci칩n: Crear una seria de datos que me muestraen la estaura media de los atltas de las olimpiadas durante los a침os

In [ ]:
from google.colab import drive
drive.mount('/content/drive') # uno my Drive al nuevo cuaderno

Mounted at /content/drive

In [ ]:
import pandas as pd #importo la libreria panda permite manipular y molderar los datos 
import numpy as np #importo la libreria numpy manipular y molderar los datos 
import matplotlib.pyplot as plt #importo libreria matplotlib que es una libreria que me permite realizar graficas en 2 dimensiones de de mis datos

In [ ]:
height =  '/content/drive/MyDrive/Coding_Dojo/Semana 3 /Data/athleteEventsNoPersonal.csv' #Nombro a la base
height_df = pd.read_csv(height) #le doy un nombre a la trama 
 
#valores vacios con na 
height_df.head() #Observo que los datos hayan sido leidos de forma correcta

   ID   Age  Height  ...          Sport                               Event Medal
0   5  21.0   185.0  ...  Speed Skating    Speed Skating Women's 500 metres   NaN
1   5  21.0   185.0  ...  Speed Skating  Speed Skating Women's 1,000 metres   NaN
2   5  25.0   185.0  ...  Speed Skating    Speed Skating Women's 500 metres   NaN
3   5  25.0   185.0  ...  Speed Skating  Speed Skating Women's 1,000 metres   NaN
4   5  27.0   185.0  ...  Speed Skating    Speed Skating Women's 500 metres   NaN

[5 rows x 12 columns]

In [ ]:
height_df.info()# obtengo informacion de la base para observar que datos debo tratar

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40616 entries, 0 to 40615
Data columns (total 12 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ID      40616 non-null  int64
 1   Age     39143 non-null  float64
 2   Height  31615 non-null  float64
 3   Team    40616 non-null  object
 4   NOC     40616 non-null  object
 5   Games   40616 non-null  object
 6   Year    40616 non-null  int64
 7   Season  40616 non-null  object
 8   City    40616 non-null  object
 9   Sport   40616 non-null  object
 10  Event   40616 non-null  object
 11  Medal   5917 non-null   object
dtypes: float64(2), int64(2), object(8)
memory usage: 3.7+ MB

### Tratamiento de valores vacios

In [ ]:
height_df['Height'].interpolate(method='linear')

0        185.0
1        185.0
2        185.0
3        185.0
4        185.0
         ...
40611    183.0
40612    176.0
40613    176.0
40614    185.0
40615    185.0
Name: Height, Length: 40616, dtype: float64

### Agrupacion para estatura promedio

In [ ]:
mean_heigth = height_df.groupby(['ID','Year'])['Height'].mean() #Establesco el agrupamiento a tener y ademas con el comando .mean() estoy diciendole que obtenga 
#el promedio del agrupamiento seleccionado con la variable estatura 
mean_heigth.head()

ID  Year
5   1988    185.0
    1992    185.0
    1994    185.0
6   1992    188.0
    1994    188.0
Name: Height, dtype: float64