<a href="https://colab.research.google.com/github/Carlosmagnobrusil/CarlosBrusil_projects/blob/main/Semana_5/KNN_model.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Modelo KNN**
## *Creado por: Carlos Brusil*



*   Fecha de Creación: 3 de febrero de 2022 
*   Fechad de actualización: 4 de febrero de 2022
*   Descripción: Se genera un modelo vecinos cercacnos o mejor conocido como KNN

In [43]:
from google.colab import drive
drive.mount('/content/drive') # uno my Drive al nuevo cuaderno

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [44]:
import pandas as pd #importo la libreria panda permite manipular y molderar los datos 
import numpy as np #importo la libreria numpy manipular y molderar los datos 
import matplotlib.pyplot as plt #importo libreria matplotlib que es una libreria que me permite realizar graficas en 2 dimensiones de de mis datos
import seaborn as sns #Esta libreria nos permite modificar la vizualizacion de los datos atraves de los coleres y mejorar presetancion de los mismo 
from sklearn.linear_model import LinearRegression #para realizar regresiones y modelos 
from sklearn.preprocessing import StandardScaler #Herramienta para la estandarizaci[on de datos
from sklearn.neighbors import KNeighborsClassifier #herramienta que permite crear modelos KNN de clasificacion
from sklearn.neighbors import KNeighborsRegressor #herramienta que permite crear modelos KNN de regresion
from sklearn.model_selection import train_test_split
from sklearn import metrics

In [45]:
abulon =  '/content/drive/MyDrive/Coding_Dojo/Semana 5/Data/abalone (1).data' #Nombro a la base
abulon_df= pd.read_csv(abulon, header = None) #le doy un nombre a la trama tener en cuenta que tipo dearchivo estoy leyendo
#ademas uso el argumento header para queno tome la primera fila como nombres de columna 
abulon_df.head() #Observo que los datos hayan sido leidos de forma correcta

   0      1      2      3       4       5       6      7   8
0  M  0.455  0.365  0.095  0.5140  0.2245  0.1010  0.150  15
1  M  0.350  0.265  0.090  0.2255  0.0995  0.0485  0.070   7
2  F  0.530  0.420  0.135  0.6770  0.2565  0.1415  0.210   9
3  M  0.440  0.365  0.125  0.5160  0.2155  0.1140  0.155  10
4  I  0.330  0.255  0.080  0.2050  0.0895  0.0395  0.055   7

In [46]:
abulon_df.rename(columns = {0:'sex', 1:'Length', 2:'Diameter', 3:'Height'	, 4:'Whole weight', 5:'Shucked weight', 6:'Viscera weight', 
                    7:'Shell weight', 8:'Rings'	}, inplace = True)
#renombro las columnas de mi base 
abulon_df.head()

  sex  Length  Diameter  ...  Viscera weight  Shell weight  Rings
0   M   0.455     0.365  ...          0.1010         0.150     15
1   M   0.350     0.265  ...          0.0485         0.070      7
2   F   0.530     0.420  ...          0.1415         0.210      9
3   M   0.440     0.365  ...          0.1140         0.155     10
4   I   0.330     0.255  ...          0.0395         0.055      7

[5 rows x 9 columns]

In [47]:
abulon_df.columns= abulon_df.columns.str.lower()#primero defino a todos los nombres de las columnas en letra minuscula

In [48]:
abulon_df.columns = abulon_df.columns.str.replace(' ', '_') #en esta linea realizo el cambio de los espacios del nombre de las columnas por 
#el '_'

In [49]:
abulon_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4177 entries, 0 to 4176
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   sex             4177 non-null   object
 1   length          4177 non-null   float64
 2   diameter        4177 non-null   float64
 3   height          4177 non-null   float64
 4   whole_weight    4177 non-null   float64
 5   shucked_weight  4177 non-null   float64
 6   viscera_weight  4177 non-null   float64
 7   shell_weight    4177 non-null   float64
 8   rings           4177 non-null   int64
dtypes: float64(7), int64(1), object(1)
memory usage: 293.8+ KB

###### no exsiten datos perdido por lo cual no se realiza mas pasos de preparacion de data

### Modelo de regresion

In [19]:
X = abulon_df.loc[:, ['diameter','height','whole_weight','shucked_weight','viscera_weight','shell_weight']]
X.shape

(4177, 6)

In [22]:
y = abulon_df.loc[:,'rings']
y.shape

(4177,)

In [25]:
scaler = StandardScaler()
scaler.fit(X)
X = scaler.transform(X)

In [28]:
X_train, X_test, y_train, y_test = train_test_split(X, y)

In [32]:
reg_model = KNeighborsRegressor(n_neighbors=2)
reg_model

KNeighborsRegressor(n_neighbors=2)

In [35]:
knn1=reg_model.fit(X_train,y_train)
knn1

KNeighborsRegressor(n_neighbors=2)

In [36]:
prediction=knn1.predict(X_test)
prediction

array([ 7. , 10. , 12. , ..., 10. ,  9. ,  7.5])

In [41]:
print('R_cuadrado Value:',round(metrics.r2_score(y_train, knn1.predict(X_train)),2))

R_cuadrado Value: 0.78

### Modelo de seleccion

In [50]:
abulon_df['sex'].value_counts()

M    1528
I    1342
F    1307
Name: sex, dtype: int64

In [51]:
cat = {'sex' : {'M': 1, 'F': 2, 'I': 3 }}

In [52]:
abulon_df = abulon_df.replace(cat)

In [53]:
abulon_df.head()

   sex  length  diameter  ...  viscera_weight  shell_weight  rings
0    1   0.455     0.365  ...          0.1010         0.150     15
1    1   0.350     0.265  ...          0.0485         0.070      7
2    2   0.530     0.420  ...          0.1415         0.210      9
3    1   0.440     0.365  ...          0.1140         0.155     10
4    3   0.330     0.255  ...          0.0395         0.055      7

[5 rows x 9 columns]

In [ ]:
X = abulon_df.loc[:, ['diameter','height','whole_weight','shucked_weight','viscera_weight','shell_weight','rings']]
X.shape

In [54]:
scaler = StandardScaler()
scaler.fit(X)
X = scaler.transform(X)

In [55]:
y = abulon_df.loc[:,'sex']
y.shape

(4177,)

In [59]:
knn2 = KNeighborsClassifier(n_neighbors=2)

In [60]:
knn2

KNeighborsClassifier(n_neighbors=2)

In [61]:
knn2.fit(X, y)

KNeighborsClassifier(n_neighbors=2)

In [63]:
predictions = knn2.predict(X)
predictions

array([1, 1, 2, ..., 1, 2, 1])

In [71]:
score1 = round(knn2.score(X, y),2)
score1

0.74