<a href="https://colab.research.google.com/github/Carlosmagnobrusil/CarlosBrusil_projects/blob/main/Limpieza_de_datos_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Limpieza de base de datos**
## *Creado por: Carlos Brusil*



*   Fecha de Creaci칩n: 7 de julio de 2023
*   Fechad de actualizaci칩n: 7 de julio de 2023
*   Descripci칩n: Realizar la limpieza de datos y si es posible crear un metodo de limpieza de datos

In [1]:
from google.colab import drive
drive.mount('/content/drive') # uno my Drive al nuevo cuaderno

Mounted at /content/drive

In [20]:
import pandas as pd #importo la libreria panda permite manipular y molderar los datos
import numpy as np

In [21]:
LD=  '/content/drive/MyDrive/Msc. Inteligencia de negocios y Ana패lisis de datos /DBM/data_clean_01.csv' #Nombro a la base
ld_df = pd.read_csv(LD, sep = ";") #le doy un nombre a la trama tener en cuenta que tipo dearchivo estoy leyendo
ld_df.head() #Observo que los datos hayan sido leidos de forma correcta

,CrimeId,OriginalCrimeTypeName,OffenseDate,CallTime,CallDateTime,Disposition,Address,City,State,AgencyId,Range,AddressType
0,160903280,Assault / Battery,2016-03-30T00:00:00,18:42,2016-03-30T18:42:00,REP,100 Block Of Chilton Av,San Francisco,CA,1,NaN,Premise Address
1,160912272,Homeless Complaint,2016-03-31T00:00:00,15:31,2016-03-31T15:31:00,GOA,2300 Block Of Market St,San Francisco,CA,1,NaN,Premise Address
2,160912590,Susp Info,2016-03-31T00:00:00,16:49,2016-03-31T16:49:00,GOA,2300 Block Of Market St,San Francisco,CA,1,NaN,Premise Address
3,160912801,Report,2016-03-31T00:00:00,17:38,2016-03-31T17:38:00,GOA,500 Block Of 7th St,San Francisco,CA,1,NaN,Premise Address
4,160912811,594,2016-03-31T00:00:00,17:42,2016-03-31T17:42:00,REP,Beale St/bryant St,San Francisco,CA,1,NaN,Intersection

In [23]:
ld_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10051 entries, 0 to 10050
Data columns (total 12 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   CrimeId                10051 non-null  int64
 1   OriginalCrimeTypeName  10051 non-null  object
 2   OffenseDate            10051 non-null  object
 3   CallTime               10051 non-null  object
 4   CallDateTime           10051 non-null  object
 5   Disposition            10051 non-null  object
 6   Address                10051 non-null  object
 7   City                   9730 non-null   object
 8   State                  10048 non-null  object
 9   AgencyId               10051 non-null  object
 10  Range                  0 non-null      float64
 11  AddressType            10051 non-null  object
dtypes: float64(1), int64(1), object(10)
memory usage: 942.4+ KB

In [24]:
# en el siguiente codigo creare un codigo que me permita calcular el ratio de valores perdidos para cada columna.
mv = ld_df.isnull().sum() # creo una variable que realice la suma de cada missing values de las columnas del data frame
td = len(ld_df) #creo una variable que cuente la longitud de los datos totales de mi data frame
mvrt = round(((mv/td)*100),2) #creo el ratio que itera cada columna del data frame y lo divide para el total de observaciones
#se multiplica porcien para obtener un valor en porcentaje y se lo redonde a 2 decimales
mvrt #este ratio muestra cual es el porcentaje de datos perdidos

CrimeId                    0.00
OriginalCrimeTypeName      0.00
OffenseDate                0.00
CallTime                   0.00
CallDateTime               0.00
Disposition                0.00
Address                    0.00
City                       3.19
State                      0.03
AgencyId                   0.00
Range                    100.00
AddressType                0.00
dtype: float64

### Modelo de limpieza de datos

In [25]:
def limpiar_datos(df):

    # Calcular el porcentaje de valores faltantes por columna
    porcentaje_perdidos = df.isnull().sum() / len(df)

    # Obtener las columnas que tienen m치s del 5% de datos perdidos
    columnas_a_eliminar = porcentaje_perdidos[porcentaje_perdidos > 0.05].index

    # Eliminar las columnas con m치s del 5% de datos perdidos
    df = df.drop(columns=columnas_a_eliminar)

    # Recorrer las columnas restantes y completar los valores faltantes
    for columna in df.columns:
        if df[columna].dtype == 'object':
            # Completar con la moda para columnas de tipo objeto
            moda = df[columna].mode().iloc[0]
            df[columna].fillna(moda, inplace=True)
        else:
            # Completar con la mediana para columnas num칠ricas
            mediana = ld_df[columna].median()
            df[columna].fillna(mediana, inplace=True)

    return df

In [26]:
vf = limpiar_datos(ld_df)

In [27]:
vf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10051 entries, 0 to 10050
Data columns (total 11 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   CrimeId                10051 non-null  int64
 1   OriginalCrimeTypeName  10051 non-null  object
 2   OffenseDate            10051 non-null  object
 3   CallTime               10051 non-null  object
 4   CallDateTime           10051 non-null  object
 5   Disposition            10051 non-null  object
 6   Address                10051 non-null  object
 7   City                   10051 non-null  object
 8   State                  10051 non-null  object
 9   AgencyId               10051 non-null  object
 10  AddressType            10051 non-null  object
dtypes: int64(1), object(10)
memory usage: 863.9+ KB

In [28]:
vf

,CrimeId,OriginalCrimeTypeName,OffenseDate,CallTime,CallDateTime,Disposition,Address,City,State,AgencyId,AddressType
0,160903280,Assault / Battery,2016-03-30T00:00:00,18:42,2016-03-30T18:42:00,REP,100 Block Of Chilton Av,San Francisco,CA,1,Premise Address
1,160912272,Homeless Complaint,2016-03-31T00:00:00,15:31,2016-03-31T15:31:00,GOA,2300 Block Of Market St,San Francisco,CA,1,Premise Address
2,160912590,Susp Info,2016-03-31T00:00:00,16:49,2016-03-31T16:49:00,GOA,2300 Block Of Market St,San Francisco,CA,1,Premise Address
3,160912801,Report,2016-03-31T00:00:00,17:38,2016-03-31T17:38:00,GOA,500 Block Of 7th St,San Francisco,CA,1,Premise Address
4,160912811,594,2016-03-31T00:00:00,17:42,2016-03-31T17:42:00,REP,Beale St/bryant St,San Francisco,CA,1,Intersection
...,...,...,...,...,...,...,...,...,...,...,...
10046,160964210,Well Being Check,2016-04-05T00:00:00,23:38,2016-04-05T23:38:00,GOA,Hollister Av/hawes St,San Francisco,CA,1,Intersection
10047,160964216,Traffic Stop,2016-04-05T00:00:00,23:43,2016-04-05T23:43:00,ADV,California St/mason St,San Francisco,CA,1,Intersection
10048,160964227,Traffic Stop,2016-04-05T00:00:00,23:48,2016-04-05T23:48:00,CIT,Rosella Ct/onondaga Av,San Francisco,CA,1,Intersection
10049,160964229,Passing Call,2016-04-05T00:00:00,23:48,2016-04-05T23:48:00,Not recorded,0 Blk Herbst Rd,San Francisco,CA,1,Geo-Override
10050,160964249,Traffic Stop,2016-04-05T00:00:00,23:54,2016-04-05T23:54:00,ADV,Grant Av/geary St,San Francisco,CA,1,Intersection

#### Una vez que limpiamos los datos perdidos vamos a transformar variables especificas de esta base como los valores de fecha

In [29]:
vf.columns

Index(['CrimeId', 'OriginalCrimeTypeName', 'OffenseDate', 'CallTime',
       'CallDateTime', 'Disposition', 'Address', 'City', 'State', 'AgencyId',
       'AddressType'],
      dtype='object')

In [30]:
fechas = ['OffenseDate','CallDateTime'] # ingreso mis columnas en un objeto

for f in fechas:
    vf[f] = vf[f].apply(pd.to_datetime) #dejo que el bucle tranforme las variables a formato fecha para poder tomar las variables de la mejor manera

In [31]:
vf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10051 entries, 0 to 10050
Data columns (total 11 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   CrimeId                10051 non-null  int64
 1   OriginalCrimeTypeName  10051 non-null  object
 2   OffenseDate            10051 non-null  datetime64[ns]
 3   CallTime               10051 non-null  object
 4   CallDateTime           10051 non-null  datetime64[ns]
 5   Disposition            10051 non-null  object
 6   Address                10051 non-null  object
 7   City                   10051 non-null  object
 8   State                  10051 non-null  object
 9   AgencyId               10051 non-null  object
 10  AddressType            10051 non-null  object
dtypes: datetime64[ns](2), int64(1), object(8)
memory usage: 863.9+ KB

In [32]:
vf['CallTime'] = pd.to_datetime(vf['CallTime']).dt.strftime('%H:%M')

In [33]:
vf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10051 entries, 0 to 10050
Data columns (total 11 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   CrimeId                10051 non-null  int64
 1   OriginalCrimeTypeName  10051 non-null  object
 2   OffenseDate            10051 non-null  datetime64[ns]
 3   CallTime               10051 non-null  object
 4   CallDateTime           10051 non-null  datetime64[ns]
 5   Disposition            10051 non-null  object
 6   Address                10051 non-null  object
 7   City                   10051 non-null  object
 8   State                  10051 non-null  object
 9   AgencyId               10051 non-null  object
 10  AddressType            10051 non-null  object
dtypes: datetime64[ns](2), int64(1), object(8)
memory usage: 863.9+ KB