<a href="https://colab.research.google.com/github/Carlosmagnobrusil/CarlosBrusil_projects/blob/main/Semana_9/KNN_whith_Pipe_lines.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Modelo KNN con Pipe lines**
## *Creado por: Carlos Brusil*



*   Fecha de Creación: 3 de febrero de 2022 
*   Fechad de actualización: 4 de marzo de 2022
*   Descripción: Se genera un modelo vecinos cercacnos o mejor conocido como KNN, en este script tambien se añade el uso de Pipe lines al modelos

In [2]:
from google.colab import drive
drive.mount('/content/drive') # uno my Drive al nuevo cuaderno

Mounted at /content/drive

In [3]:
import pandas as pd #importo la libreria panda permite manipular y molderar los datos 
import numpy as np #importo la libreria numpy manipular y molderar los datos 
import matplotlib.pyplot as plt #importo libreria matplotlib que es una libreria que me permite realizar graficas en 2 dimensiones de de mis datos
import seaborn as sns #Esta libreria nos permite modificar la vizualizacion de los datos atraves de los coleres y mejorar presetancion de los mismo 
from sklearn.linear_model import LinearRegression #para realizar regresiones y modelos 
from sklearn.linear_model import LogisticRegression # realizar modelos de regresion logistica 
from sklearn.preprocessing import StandardScaler #Herramienta para la estandarizacion de datos
from sklearn.neighbors import KNeighborsClassifier #herramienta que permite crear modelos KNN de clasificacion
from sklearn.neighbors import KNeighborsRegressor #herramienta que permite crear modelos KNN de regresion
from sklearn.model_selection import train_test_split
from sklearn import metrics
from sklearn.decomposition import PCA # Analisis de componentes principales 
from sklearn.pipeline import make_pipeline #creción de tuberias para unir modelos

In [4]:
abulon =  '/content/drive/MyDrive/Coding_Dojo/Semana 5/Data/abalone (1).data' #Nombro a la base
abulon_df= pd.read_csv(abulon, header = None) #le doy un nombre a la trama tener en cuenta que tipo dearchivo estoy leyendo
#ademas uso el argumento header para queno tome la primera fila como nombres de columna 
abulon_df.head() #Observo que los datos hayan sido leidos de forma correcta

   0      1      2      3       4       5       6      7   8
0  M  0.455  0.365  0.095  0.5140  0.2245  0.1010  0.150  15
1  M  0.350  0.265  0.090  0.2255  0.0995  0.0485  0.070   7
2  F  0.530  0.420  0.135  0.6770  0.2565  0.1415  0.210   9
3  M  0.440  0.365  0.125  0.5160  0.2155  0.1140  0.155  10
4  I  0.330  0.255  0.080  0.2050  0.0895  0.0395  0.055   7

In [5]:
abulon_df.rename(columns = {0:'sex', 1:'Length', 2:'Diameter', 3:'Height'	, 4:'Whole weight', 5:'Shucked weight', 6:'Viscera weight', 
                    7:'Shell weight', 8:'Rings'	}, inplace = True)
#renombro las columnas de mi base 
abulon_df.head()

,sex,Length,Diameter,Height,Whole weight,Shucked weight,Viscera weight,Shell weight,Rings
0,M,0.455,0.365,0.095,0.5140,0.2245,0.1010,0.150,15
1,M,0.350,0.265,0.090,0.2255,0.0995,0.0485,0.070,7
2,F,0.530,0.420,0.135,0.6770,0.2565,0.1415,0.210,9
3,M,0.440,0.365,0.125,0.5160,0.2155,0.1140,0.155,10
4,I,0.330,0.255,0.080,0.2050,0.0895,0.0395,0.055,7

In [6]:
abulon_df.columns= abulon_df.columns.str.lower()#primero defino a todos los nombres de las columnas en letra minuscula

In [7]:
abulon_df.columns = abulon_df.columns.str.replace(' ', '_') #en esta linea realizo el cambio de los espacios del nombre de las columnas por 
#el '_'

In [8]:
abulon_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4177 entries, 0 to 4176
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   sex             4177 non-null   object
 1   length          4177 non-null   float64
 2   diameter        4177 non-null   float64
 3   height          4177 non-null   float64
 4   whole_weight    4177 non-null   float64
 5   shucked_weight  4177 non-null   float64
 6   viscera_weight  4177 non-null   float64
 7   shell_weight    4177 non-null   float64
 8   rings           4177 non-null   int64
dtypes: float64(7), int64(1), object(1)
memory usage: 293.8+ KB

###### no exsiten datos perdido por lo cual no se realiza mas pasos de preparacion de data

In [10]:
abulon_df['sex'].value_counts()

M    1528
I    1342
F    1307
Name: sex, dtype: int64

In [11]:
cat = {'sex' : {'M': 1, 'F': 2, 'I': 3 }}

In [12]:
abulon_df = abulon_df.replace(cat)

In [13]:
abulon_df.head()

,sex,length,diameter,height,whole_weight,shucked_weight,viscera_weight,shell_weight,rings
0,1,0.455,0.365,0.095,0.5140,0.2245,0.1010,0.150,15
1,1,0.350,0.265,0.090,0.2255,0.0995,0.0485,0.070,7
2,2,0.530,0.420,0.135,0.6770,0.2565,0.1415,0.210,9
3,1,0.440,0.365,0.125,0.5160,0.2155,0.1140,0.155,10
4,3,0.330,0.255,0.080,0.2050,0.0895,0.0395,0.055,7

In [14]:
X = abulon_df.loc[:, ['diameter','height','whole_weight','shucked_weight','viscera_weight','shell_weight','rings']]
X.shape

(4177, 7)

In [15]:
y = abulon_df.loc[:,'sex']
y.shape

(4177,)

In [16]:
X_train, X_test, y_train, y_test = train_test_split(X, y)

In [24]:
pipe = make_pipeline(StandardScaler(), PCA(n_components = 2), KNeighborsClassifier(n_neighbors= 2))
pipe.fit(X_train, y_train)

Pipeline(steps=[('standardscaler', StandardScaler()),
                ('pca', PCA(n_components=2)),
                ('kneighborsclassifier', KNeighborsClassifier(n_neighbors=2))])

In [25]:
print('Training accuracy:', round(pipe.score(X_train, y_train),2))
print('Testing accuracy:', round(pipe.score(X_test, y_test),2))

Training accuracy: 0.74
Testing accuracy: 0.47

* ¿Por qué querrías ocupar una tubería para KNN?

La usaria para recortar el proceso de sacalacion de datos 

* ¿Para qué otros modelos o tareas sería útil usar una tubería?

En todos aquellos modelos que ncesiten realizarce mas de un proceso que pueda ser conectado, aqunque debe ser con cuidado ya que el score del modelo se ha reducido.