<a href="https://colab.research.google.com/github/Carlosmagnobrusil/CarlosBrusil_projects/blob/main/Semana_2/Loaddata.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Cargar Datos**
## *Creado por: Carlos Brusil*



*   Fecha de Creación: 9 de enero de 2022 
*   Fechad de actualización: 9 de enero de 2022
*   Descripción: Cargar datos con librerias panda

In [ ]:
from google.colab import drive
drive.mount('/content/drive')
#Este codigo se realizo para unir mi drivebcon google colab

Mounted at /content/drive

In [ ]:
import pandas as pd #esta linea importo la herramienta de pandas y la nombro como pd para usarlo de manera mas rapida 
data = '/content/drive/MyDrive/Coding_Dojo/Semana 2/Pandas Data science/Data /bostonHousing1978.csv' # defino el nombre de la base de datos 
df = pd.read_csv(data) #Creo una nueva variable a la cual llame para poder visualizar los datos 
df

        RM  LSTAT  PTRATIO  target
0    6.575   4.98     15.3    24.0
1    6.421   9.14     17.8    21.6
2    7.185   4.03     17.8    34.7
3    6.998   2.94     18.7    33.4
4    7.147   5.33     18.7    36.2
..     ...    ...      ...     ...
501  6.593   9.67     21.0    22.4
502  6.120   9.08     21.0    20.6
503  6.976   5.64     21.0    23.9
504  6.794   6.48     21.0    22.0
505  6.030   7.88     21.0    11.9

[506 rows x 4 columns]

In [ ]:
import pandas as pd #esta linea importo la herramienta de pandas y la nombro como pd para usarlo de manera mas rapida 
data = '/content/drive/MyDrive/Coding_Dojo/Semana 2/Pandas Data science/Data /bostonHousing1978.xlsx' # defino el nombre de la base de datos 
df = pd.read_excel(data) #Creo una nueva variable a la cual llame para poder visualizar los datos 
df
df.dtypes
df['LSTAT']

0      4.98
1      9.14
2      4.03
3      2.94
4      5.33
       ...
501    9.67
502    9.08
503    5.64
504    6.48
505    7.88
Name: LSTAT, Length: 506, dtype: float64